<nav class="navbar navbar-light bg-transparent fixed-top">
  <%= link_to "Home", users_path, class:"navbar-brand text-white" %>
  <%= link_to "New Character", new_user_character_path(@user), class:"navbar-brand text-white" %>
</nav>
