<nav class="navbar navbar-light bg-transparent fixed-top">
  <%= link_to "Home", users_path, class:"navbar-brand text-white" %>
  <%= link_to "Join", new_user_path, class:"navbar-brand text-white" %>
</nav>
