<h1>THIS IS THE CHARACTERS of USER PAGE</h1>

<% @chars.each do |char| %>
  <%= char.name %>
  <%= link_to "edit me", edit_user_character_path %>
<br>
<br>

<%= link_to "home page", users_path %>

<% end %>
