a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.bblue {
  background: blue;
}

.font1 {
  font-family: 'Yesteryear', cursive;
}

.font2 {
  font-family: 'Rochester', cursive;
}

.font3 {
  font-family: 'Lovers Quarrel', cursive;
}

.font4 {
  font-family: 'Calligraffitti', cursive;
}

.font5 {
  font-family: 'Niconne', cursive;
}
