.rel-container {
  position: relative;
}

.flx-container {
  display: flex;
}

.ninefivew-container {
  width: 95vw;
  margin: 0 auto;
}

.hund-container {
  min-height: 100vh;
  background-attachment: fixed
}

.eight-container {
  height: 80vh;
  background-repeat: no-repeat;
}
