.rel-container {
  position: relative;
}

.flx-container {
  display: flex;
}

.ninefivew-container {
  width: 95vw;
  margin: 0 auto;
}

.hund-container {
  min-height: 100vh;
  background-attachment: fixed
}

.eight-container {
  height: 80vh;
  background-repeat: no-repeat;
}

.form-container {
  width: 70vw;
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
  margin-top: 40px;

  h1 {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
  }
}

.space-between {
  justify-content: space-between;
}
